In [4]:
import pandas as pd
import requests
r = requests.get('https://pokemondb.net/pokedex/all')
dfs= pd.read_html(r.text, header=0)[0]
dfs.to_csv('keny13.csv',mode='a', sep=',', encoding='utf-8',index='false')

In [5]:
dfs.head()

,#,Name,Type,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,1,Bulbasaur,GrassPoison,318,45,49,49,65,65,45
1,2,Ivysaur,GrassPoison,405,60,62,63,80,80,60
2,3,Venusaur,GrassPoison,525,80,82,83,100,100,80
3,3,VenusaurMega Venusaur,GrassPoison,625,80,100,123,122,120,80
4,4,Charmander,Fire,309,39,52,43,60,50,65